# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp


#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*

#Ignore packages directory
Packages/

#Allow NuGet.exe
!NuGet.exe

#Ignore generated nupkg files
*.nupkg

#Allow released nupkg files
!MyProjectName.1.0.nupkg

#Ignore local testsettings
Local.testsettings

#Allow R# .DotSettings
!*.csproj.DotSettings

#Ignore Azure build csdef & Pubxml files
ServiceDefinition.build.csdef
*.azurePubxml

#Ignore WebDeploy publish profile
*.Publish.xml

#Ignore email files delivered to specified pickup directory
*.eml

#Allow chromedriver.exe
!chromedriver.exe

#Ignore _vti folders in ExpressionWeb
desktop.ini
_vti_cnf/
_vti_pvt/

#Ignore private folder
/Private/

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
SimpleAspNetScheduler/packages
SimpleAspNetScheduler/SimpleAspNetScheduler/bin
SimpleAspNetScheduler/SimpleAspNetScheduler/obj
packages
